.view {
    overflow: hidden;
    width:100%;
}

.container {
    white-space: nowrap;
    padding: 0px;
    list-style: none;
    font-size: 0;
}

.panel {
    width: 100%;
    min-height: 200px;
    display: inline-block;
}